test
Prueba2
TextoAIgnorar3
../
../.atom/
        ../.bash_history
        ../.gitconfig
        ../AppData/
        ../CD.Ver
        ../CD.ico
        ../Contacts/
        ./
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../LICENSE.txt
        ../Links/
        ../MicrosoftEdgeBackups/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{bdff6269-6f5d-11e8-9b41-a388c9541f8d}.TM.blf
        ../NTUSER.DAT{bdff6269-6f5d-11e8-9b41-a388c9541f8d}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{bdff6269-6f5d-11e8-9b41-a388c9541f8d}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Printer/
        ../Saved Games/
        ../Searches/
        ../Setup.exe
        ../Setup/
        ../Sti_Trace.log
        ../Tracing/
        ../VERSION.VER
        ../Videos/
        ../VirtualBox VMs/
        ../desktop.ini
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../pseint/
        ../zinjai/
